body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    background-color: rgba(231, 231, 199, 0.719);
}
.container {
    max-width: 1100px;
    margin: 0px auto;
}
.header {
    height: 50px;
    background-color: rgba(55, 81, 136, 0.719);
    border-radius: 25px;
}
.navigation a {
    float: right;
    margin: 6px 20px;
    display: inline;
    border-radius: 20px;
    padding: 8px 8px;
    background-color: rgba(35, 78, 37, 0.712);
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    text-decoration: none;
}
img{
    max-width: 100%;
}
.banner {
    margin: 30px auto;
}
.specification{
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.specification>div {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    box-shadow: inset 5px 5px 20px; 
}
.specification>div:first-child{
    float: left;
}
.specification>div:nth-child(2){
    position: absolute;
    left: 41%;
}
.specification>div:last-child{
    float: right;
}

.product {
    margin: 0px auto;
    border: 7px dashed gray;
    border-radius: 100px 0 100px 0;
    overflow: hidden;
    padding: 60px 100px;
}
.product div{
    width: 350px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px;
    float: left;
    margin-bottom: 70px;
    position: relative;
}
.product div:nth-child(even){
    float: right;
}
.product div:nth-last-child(2){
    margin-bottom: 0px;
}
.product div:last-child{
    margin-bottom: 0px;
}


.type{
    font-size: 20px;
    text-align: center;
}
.spisok li{
    line-height: 40px;
}
.spisok2 li{
    line-height: 24px;
}
.spisok3 li{
    line-height: 40px;
}
.example{
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    color: rgb(44, 63, 45);
    text-align: center;
    text-shadow: 3px 3px 6px;
}
.product>div img{
    position: absolute;
    width:350px;
    height:200px;
    object-fit:cover;
}
@media (max-width:950px) {
    .header{
        height: 40px;
    }
    .navigation a{
        font-size: 10px;
        padding: 6px 6px;
        margin: 6px 12px;
    }
    .specification{
        position: static;
        
    }
    .specification>div{
        width: 300px;
        height: 300px;
        display: block;
        margin: 20px auto;
    }
    .specification>div:first-child{
        float: left;
        position: static;
    }
    .specification>div:nth-child(2){
        position: static;
        float: right;
    }
    .specification>div:last-child{
        display: none;
    }
    .product div{
        width: 450px;
        height: 300px;
        float: none;
        margin: 0 auto 50px auto;
    }
    .product div:nth-child(even){
        float: none;
    }
    .product>div img{
        width:450px;
        height:300px;
    }
    .product div:nth-last-child(2){
        margin-bottom: 50px;
    }
}
@media (max-width:650px){
    .specification>div:first-child{
        float: none;
        position: static;
        margin: 30px auto 0 auto;
    }
    .specification>div:nth-child(2){
        position: static;
        float: none;
        margin: 30px auto 0 auto;
    }
    .specification>div:last-child{
        display: block;
        margin: 30px auto 0 auto;
        float: none;
    }
    .product div{
        width: 250px;
        height: 100px;
        float: none;
        margin: 0 auto 50px auto;
    }
    .product div:nth-child(even){
        float: none;
    }
    .product>div img{
        width:250px;
        height:100px;
    }
    .product div:nth-last-child(2){
        margin-bottom: 50px;
    }
    .product {
    border: 4px dashed gray;
    border-radius: 50px 0 50px 0;
    padding: 30px 30px;
    }
    .example{
        font-size: 20px;
    }
}